# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\gal and eden\CLionProjects\keyboardExample\ex02_Gal_Malka_Yaniv_Sonino\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
